
<h1>Sign Up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email %><br>
        <%= f.text_field :email, class: 'form-control' %>

        <%= f.label :password %><br>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

